<h1>Listing of articles</h1>
<%= link_to '30 Days of Ruby on Rails', controller: 'articles' %>
<%= link_to 'New article', new_article_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><a href="<%= articles_path + '/' + article.id.to_s %>"><%= article.title %></a></td>
      <td><%= article.text %></td>
    </tr>
  <% end %>
</table>
